body {
  background: #0C090A;
  color: #f1f1f1af;
}

p {
  font-family: 'Quicksand';
}

ul {
  font-family: 'Quicksand';
  list-style: none;
  color: #f1f1f1af;
}

h3 { 
  font-family: 'Quicksand';
  color: #f1f1f1af;
  text-align: center;
}

h4 { 
  font-family: 'Quicksand';
  color: #f1f1f1af;
}

h5 { 
  font-family: 'Quicksand';
  color: #f1f1f1af;
}

strong {
  color: #43C6DB;
}

#work {
  padding-top: 100px;
  min-height: 100vh;
  padding: 20px 100px 20px 100px
}

.content ul li::before {
  content: "\2022";
  color: #43C6DB;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.item {
  flex: 400px;
  padding: 20px;
  margin: 10px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  background-color: #0A192F;
}

.item:hover {
  top: -10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A192F;
  top: 0;
}

.navbar li {
  float: left;
  font-size: 20px;
  font-family: 'Quicksand';
}

.navbar li a {
  display: block;
  color: #f1f1f1af;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #43C6DB;
}

.navbar li.active a {
  color: #43C6DB;
  border: 2px solid #43C6DB;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}
