body {
  background: #0A192F;
  color: #f1f1f1af;
}

p {
  font-family: 'Quicksand';
}

ul {
  font-family: 'Quicksand';
  list-style: none;
  color: #f1f1f1af;
}

h3 { 
  margin: 10px 0 30px 0;
  font-size: 20px;
  color: #fff;
}

/* 
.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}


.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
*/

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A192F;
  position: fixed;
  top: 0;
}

.navbar li {
  font-size: 20px;
}

.navbar li a {
  display: block;
  color: #f1f1f1af;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #de57a5;
}

.navbar a:active {
  color: #de57a5;
}
